
BODY {                          color:                         black;
                                background-color:              white;
                                text-align:                    justify;
                                font-family:                   Verdana, Helvetica, sans-serif;
}

OL,UL,DL,PRE {                  margin:                        0.8em;
}

P,LI,DT,DD {                    margin:                        0.6em 0.8em;
}

H1,H2,H3,H4,H5,H6 {             text-align:                    left;
                                margin:                        1.4em 0.8em 0.8em;
}

A {                             text-decoration:               underline;
}
A:link {                        color:                         indigo;
}
A:visited {                     color:                         indigo;
}
A:hover {                       text-decoration:               none;
}
A:active {                      color:                         darkorange;
}
A[rel="nofollow"] {             color:                         mediumblue;
}

P {                             text-indent:                   0;
}

OL.abc {                        list-style-type:               lower-latin;
}
OL.123 {                        list-style-type:               decimal;
}

DT {                            font-weight:                   bold;
}

CODE,VAR,SAMP,KBD,PRE {         text-decoration:               none;
                                font-family:                   Courier, FreeMono, Monospace, fixed;
}

PRE {                           background-color:              whitesmoke;
                                padding:                       0.8em;
}

SUB,SUP {                       font-size:                     xx-small;
}

.tLeft {                        text-align:                    left;
}
.tCenter {                      text-align:                    center;
}
.tRight {                       text-align:                    right;
}

