
BODY {                          color:                         #222;
                                background-color:              white;
                                text-align:                    justify;
                                font-family:                   Verdana, Helvetica, sans-serif;
}

IMG,OL,UL,DL,PRE {              margin:                        0.8em;
}

P,LI,DT,DD {                    margin:                        0.6em 0.8em;
}

IMG,LI,DT,DD,PRE {              page-break-inside:             avoid;
}

H1,H2,H3,H4,H5,H6 {             text-align:                    left;
                                margin:                        1.4em 0.8em 0.8em;
}
H1+P, H2+P, H3+P, H4+P {        margin-top:                   -0.2em;
                                page-break-before:             avoid;
                                page-break-inside:             avoid;
}
H3+H4 {                         margin-top:                   -0.2em;
                                page-break-before:             avoid;
}

MAIN,FOOTER {                   page-break-before:             always;
}

A {                             text-decoration:               underline;
                                color:                         mediumblue;
}
A:hover {                       text-decoration:               none;
                                color:                         red;
}

P {                             text-indent:                   0;
}

OL.abc {                        list-style-type:               lower-latin;
}
OL.123 {                        list-style-type:               decimal;
}

DT {                            font-weight:                   bold;
}

CODE,VAR,SAMP,KBD,PRE {         text-decoration:               none;
                                font-family:                   Courier, FreeMono, Monospace, fixed;
}

PRE {                           background-color:              whitesmoke;
                                padding:                       0.8em;
}

SUB,SUP {                       font-size:                     xx-small;
}

IMG.gpl {                       width:                         18%;
                                float:                         right;
}

.tLeft {                        text-align:                    left;
}
.tCenter {                      text-align:                    center;
}
.tRight {                       text-align:                    right;
}



